<section class="hero is-info">
  <div class="hero-body">
    <p class="title">The League</p>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">比賽規則</h2>
    <p>每輪比賽由兩支隊伍組成，每支隊伍由 5 名選手組成</p>
    <p>所有參賽選手需要將個人背號展示於當眼位置以便裁判分辨</p>
    <p>可以通過淘汰對方選手、奪旗、和將旗幟觸到對方隊伍的起點得分</p>
    <ul>
      <li>每輪比賽包括 2 場</li>
      <li>每場比賽時間最多 3 分鐘</li>
      <li>當一支隊伍掛旗或比賽時間到時，該場結束</li>
    </ul>
    <p>
      第一回合旗幟會放在中間 X
      位，第二回合由勝方（拍旗方/回合時間結束時生還者較多的隊伍）選擇將旗幟放在蛇道中間/中間
      X 位/ref 位之間高 cover
    </p>
    <ul>
      <li>和局旗幟將放回中間 X 位</li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">裁判</h2>
    <p>場地方將提供五名裁判</p>
    <p>裁判將會使用電筒提示選手離場</p>
    <p>裁判有當場最終決定權</p>
    <p>裁判設有黃紅牌機制</p>
    <ul>
      <li>如有選手不尊重裁判有權給予黃牌及紅牌</li>
      <li>兩黃 = 一紅</li>
      <li>紅牌 = DQ</li>
      <li>獲紅牌之選手將在該循環被即時 DQ</li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">比賽流程</h2>
    <ul>
      <li>每支隊伍從指定的起步區開始</li>
      <li>所有槍頭必須接觸起點牆身</li>
      <li>主裁判向比賽隊伍發出賽前準備(Standby)</li>
      <li>主裁判以哨子聲開始比賽，比賽計時開始</li>
      <li>當回合結束時，比賽隊伍有 60 秒的時間進行下回合重置</li>
      <li>
        在 60 秒的重置時間內允許比賽隊伍交換彈匣、裝備和帶走所有場內的個人物品
      </li>
      <li>一個來回後裁判會向隊代表宣布扣分項</li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">場外</h2>
    <p>
      在比賽進行中任何人不得以任何形式騷擾或干預（包括試槍）比賽中之選手及裁判
    </p>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">分數計算</h2>
    <table
      class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
    >
      <thead>
        <tr>
          <th>加分項</th>
          <th>備注</th>
          <th>分數</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Kill</td>
          <td>擊殺</td>
          <td>+5</td>
        </tr>
        <tr>
          <td>首次搶旗</td>
          <td>
            <li>回合開始後 90 秒內搶到才作計算</li>
            <li>搶旗燈亮起方可搶旗 （回合開始後 30 秒內隨機亮起）</li>
            <li>持旗手需持旗 5 秒或以 上</li>
          </td>
          <td>+25</td>
        </tr>
        <tr>
          <td>拍旗</td>
          <td>將旗幟懸掛於敵方起步點</td>
          <td>+25</td>
        </tr>
      </tbody>
    </table>
    tbc...
  </div>
</section>
