<section class="hero is-info">
  <div class="hero-body">
    <p class="title">The League</p>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">比賽規則</h2>
    <p>每輪比賽由兩支隊伍組成，每支隊伍由 5 名選手組成</p>
    <p>所有參賽選手需要將個人背號展示於當眼位置以便裁判分辨</p>
    <p>可以通過淘汰對方選手、奪旗、和將旗幟觸到對方隊伍的起點得分</p>
    <ul>
      <li>每輪比賽包括 2 場</li>
      <li>每場比賽時間最多 3 分鐘</li>
      <li>當一支隊伍掛旗或比賽時間到時，該場結束</li>
    </ul>
    <p>
      第一回合旗幟會放在中間 X
      位，第二回合由勝方（拍旗方/回合時間結束時生還者較多的隊伍）選擇將旗幟放在蛇道中間/中間
      X 位/ref 位之間高 cover
    </p>
    <ul>
      <li>和局旗幟將放回中間 X 位</li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">裁判</h2>
    <p>場地方將提供五名裁判</p>
    <p>裁判將會使用電筒提示選手離場</p>
    <p>裁判有當場最終決定權</p>
    <p>裁判設有黃紅牌機制</p>
    <ul>
      <li>如有選手不尊重裁判有權給予黃牌及紅牌</li>
      <li>兩黃 = 一紅</li>
      <li>紅牌 = DQ</li>
      <li>獲紅牌之選手將在該循環被即時 DQ</li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">比賽流程</h2>
    <ul>
      <li>每支隊伍從指定的起步區開始</li>
      <li>所有槍頭必須接觸起點牆身</li>
      <li>主裁判向比賽隊伍發出賽前準備(Standby)</li>
      <li>主裁判以哨子聲開始比賽，比賽計時開始</li>
      <li>當回合結束時，比賽隊伍有 60 秒的時間進行下回合重置</li>
      <li>
        在 60 秒的重置時間內允許比賽隊伍交換彈匣、裝備和帶走所有場內的個人物品
      </li>
      <li>一個來回後裁判會向隊代表宣布扣分項</li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">場外</h2>
    <p>
      在比賽進行中任何人不得以任何形式騷擾或干預（包括試槍）比賽中之選手及裁判
    </p>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">分數計算</h2>
    <table
      class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
    >
      <thead>
        <tr>
          <th>加分項</th>
          <th>備注</th>
          <th>分數</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Kill</td>
          <td>擊殺</td>
          <td>+5</td>
        </tr>
        <tr>
          <td>首次搶旗</td>
          <td>
            <li>回合開始後 90 秒內搶到才作計算</li>
            <li>搶旗燈亮起方可搶旗（回合開始後 30 秒內隨機亮起）</li>
            <li>持旗手需持旗 5 秒或以 上</li>
          </td>
          <td>+25</td>
        </tr>
        <tr>
          <td>拍旗</td>
          <td>將旗幟懸掛於敵方起步點</td>
          <td>+25</td>
        </tr>
        <tr>
          <td>拍活旗</td>
          <td>敵方尚有生還者時拍旗</td>
          <td>+25</td>
        </tr>
        <tr>
          <td>第一持旗手拍旗</td>
          <td>第一持旗手在沒有陣亡及跌旗的情況下拍旗</td>
          <td>+25</td>
        </tr>
        <tr>
          <td>全員生還拍旗</td>
          <td>拍旗方 5 位成員回合結束時依然生還</td>
          <td>+25</td>
        </tr>
      </tbody>
    </table>
    <table
      class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth"
    >
      <thead>
        <tr>
          <th>減分項</th>
          <th>備注</th>
          <th>分數</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>No Call（主要）</td>
          <td></td>
          <td>-25</td>
        </tr>
        <tr>
          <td>撞 Cover</td>
          <td></td>
          <td>-25</td>
        </tr>
        <tr>
          <td>起步失誤</td>
          <td>槍沒有觸碰起步牆腳離開起步區偷步</td>
          <td>-25</td>
        </tr>
        <tr>
          <td>跌旗</td>
          <td></td>
          <td>-25</td>
        </tr>
        <tr>
          <td>場外因素</td>
          <td>包括但不限於死人進場</td>
          <td>-25</td>
        </tr>
        <tr>
          <td>體育精神（主要）</td>
          <td>包括但不限於辱罵對手</td>
          <td>-25</td>
        </tr>
        <tr>
          <td>冇 Trace</td>
          <td>
            <li>選手在沒有 Tracer 的情 況下射擊</li>
            <li>如選手在比賽期間發現 Tracer 失靈需立即停止 射擊，否則扣分</li>
          </td>
          <td>-25</td>
        </tr>
        <tr>
          <td>Other</td>
          <td>包括但不限於非當場比賽選手於未結束前進場</td>
          <td>-25</td>
        </tr>
      </tbody>
    </table>
    <p>
      當日分數會在結算後，以得分名次獲得賽季分數<br />E.g. 以六隊計算<br />第一名=6
      第二名=5 第三名=4 第四名=3 第五名=2 第六名=1
    </p>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">
      賽後上訴機制（秋後算賬）
    </h2>
    <p>
      比賽當日將不會查看任何影片，如遇爭議判決，請選手在該場完結後向主裁判提出並在分紙標記有爭議場次或者自行記下，以便賽後作重點檢閱
    </p>
    <p>
      賽後請選手將爭議場次之片段由展示場次開始直至終場哨聲（或影片完結）為止連同時間標注於當日結束後三天內電郵至<a
        href="mailto:theleaguespeedqbhk@gmail.com"
      >
        theleaguespeedqbhk&#64;gmail.com </a
      >屆時會共同檢閱並進行判決及分數調整，逾時者及未能提供影片者將不受理
    </p>
    <p>
      <b
        >*影片需具有清晰且完整的彈道或清晰之爭議及犯規內容，屆時將不會作任何猜測性判決*</b
      >
    </p>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">DQ</h2>
    <p>
      當一隊因主要犯規及賽後檢閱每被扣滿 200 分，該隊將會有一位選手在下一循環被
      DQ，且不能進行替補，被 DQ 的人選將由每場的對方隊伍決定，有效期為一個來回
    </p>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">替補選手</h2>
    <ul>
      <li>場與場之間允許換人</li>
      <li>替補選手必須在隊伍的有效名冊上，並註冊參加比賽</li>
      <li>如果選手在比賽中受傷，當場次結束後可以換人</li>
    </ul>
    <p>
      <b>*受傷選手請自行判斷能否繼續參與餘下比賽*</b>
    </p>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">淘汰的定義</h2>
    <ul>
      <li>任何身體部位被 BB 彈擊中即被視為被淘汰</li>
      <p>
        包括身體装備的任何部分如背包、褲、連帽衫、無簷小便帽、T 恤、腰帶、HPA
        壓縮樽、GoPro 等等<br /><b
          >發射器及安裝在其的設備不被視為身體的一部分</b
        >
      </p>
      <li>如雙方選手同時射擊，兩名選手都會被淘汰</li>
      <li>被隊友擊中亦會被淘汰</li>
      <li>被跳彈（反彈）擊中不會被淘汰</li>
      <li>沒有最短開火距離</li>
      <li>沒有口頭淘汰(Bingo)</li>
      <li>沒有近戰淘汰</li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">Call Hit</h2>
    <ul>
      <li>
        當選手被擊中時，該選手必須立即直接舉起一隻手並立即在最近的邊界離場
      </li>
      <li>玩家不能口頭叫 HIT 或任何其他聲音信號來宣布他們的淘汰。</li>
      <p><b>*這是為了防止被淘汰的選手以此與其隊伍交流*</b></p>
      <li>攜帶旗幟的選手被擊中時，必須立即在 1 米範圍內放下旗幟。</li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">設備</h2>
    <ul>
      <li>服飾</li>
      <p>
        所有選手需要穿着衣服並於雙手手臂佩戴臂章<br />同隊選手服飾顏色需統一
      </p>
      <li>發射器</li>
      <P>每位選手每場比賽只能攜帶一支發射器</P>
      <ul>
        <li>比賽允許使用以下類型的發射器：</li>
        <ul>
          <li>手槍/步槍/霰彈槍</li>
          <li>AEG/HPA/GBB/彈簧槍</li>
        </ul>
        <li>發射動能上限為 1.1 焦耳</li>
        <ul>
          <li>只可使用 0.25g BB 彈</li>
          <li>所有選手於比賽前必須檢查發射動能</li>
          <li>每場比賽都有機會對選手進行抽查</li>
        </ul>
        <li>所有發射器都必須有 Trigger Guard</li>
        <li>禁止使用雙向/加長板機</li>
        <li>禁止使用單發模式以外的一切發射模式</li>
        <ul>
          <li>包括以任何形式的改造</li>
        </ul>
        <li>比賽必須使用 Tracer Unit 以及 Tracer BB 彈</li>
        <li>Tracer 不能使用火光</li>
        <li>
          選手需在每場比賽開始前檢查自己裝備的 Tracer Unit，如果 Tracer
          Unit失靈，該選手依然可以參與當場比賽，惟在未能換上合規格 Tracer
          Unit前不能作出任何射擊
        </li>
      </ul>
    </ul>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">射擊模式</h2>
    <p>僅限單發（散彈例外）</p>
    <p>一次扳機拉動發射一發 BB 彈</p>
    <p>散彈拉動一次擊發一次</p>
    <ul>
      <li>扳機手必須握住把手，拇指纏繞在把手後面</li>
      <li>禁止以抖動方式擊發扳機</li>
      <li>拇指禁止浮動（必須接觸把手）</li>
      <li>不允許多指發射</li>
      <li>禁止盲射（未經瞄準射擊）</li>
    </ul>
    <p>選手必須看到目標才可開火</p>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">彈匣</h2>
    <p>每位選手每場最多可攜帶 1000 發 BB 彈</p>
    <p><b>*選手所攜帶之彈匣將被默認為滿彈狀態*</b></p>
    <p>選手可以在 60 秒重置期間在回合之間交換彈匣</p>
    <p>
      選手只能使用自己及隊友所攜帶之彈匣，回合開始之哨聲響起前被丟棄之彈匣會被視為無效裝備，不能使用，否則會被扣分
    </p>
    <p>
      M4 系統：
      <li>PTS EPM = 每回合 6 個彈匣（150 發彈匣）</li>
      <li>PTS EPM1-S = 每回合 5 個彈匣（170 發彈匣）</li>
      <li>ASG Murder Mag = 每回合 5 個彈匣（200 發彈匣）</li>
      <li>PTS EPM1 = 每回合 4 彈匣（250 發彈匣）</li>
    </p>
    <p>
      ARP9 系統：
      <li>短 ARP 9 = 每回合 16 個彈匣（60 發彈匣）</li>
      <li>舊 ARP9/CA X9 = 每回合 8 個彈匣（120 發彈匣）</li>
      <li>PTS EPM-AR9 = 每回合 7 個彈匣（140 發彈匣）</li>
      <li>新 ARP9 = 每回合 5 個彈匣（170 發彈匣）</li>
    </p>
    <p>
      彈匣類型：
      <li>步槍 = 僅限 Mid Cap 彈匣</li>
      禁止使用 High Cap/鏈匣<br /><b
        >EPM1 (250 發) 是比賽中 Mid Cap 彈匣允許的最大容量</b
      >
      <li>手槍可使用加長彈匣和 Mag Adapter</li>
      Gas 彈匣 = 無彈匣數量限制<br />Mag Adapter = 等同 M4/ARP9 系統的規定
      <li>散彈槍 = 彈殼 或 M4 彈匣</li>
      散彈槍彈殼 = 無限制數量<br />Mag Adapter = 等同 M4/ARP9 系統的規定
    </p>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">護目鏡/面罩</h2>
    <ul>
      <li>所有選手必須配戴護目鏡/全面的面罩/為氣槍或彩彈製造的面罩</li>
      <li>
        在比賽場地和試槍區必須佩戴護目鏡/全面的面罩/為氣槍或彩彈製造的面罩
      </li>
      <li>
        比賽場內所有人都必須佩戴護目鏡/全面的面罩/為氣槍或彩彈製造的罩，無一例外
      </li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">違禁裝備</h2>
    <ul>
      <li>禁止使用雙向板機</li>
      <li>禁止使用榴彈發射器/附件</li>
      <li>禁止使用 Thunderbee/Tornado/任何款式的手榴彈</li>
      <li>禁止使用盾牌</li>
      <li>禁止使用近戰武器</li>
      <li>禁止使用任何電筒</li>
      <li>禁止使用 Tracer 火光</li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="content">
    <h2 class="has-background-primary has-text-centered">Division</h2>
    <p>Division 1 將會有八支隊伍參賽</p>
    <ul>
      <li>於週末晚舉行</li>
      <li>設有獎金機制</li>
      <li>
        <b>*賽季末結算後排名第七第八之隊伍將於下一賽季降級至 Division 2*</b>
      </li>
    </ul>
    <p>Division 2 將會有四至六支隊伍參賽</p>
    <ul>
      <li>於工作日晚舉行</li>
      <li>不設獎金機制</li>
      <li>
        <b>*賽季末結算後排名第一第二之隊伍將於下一賽季升級至 Division 1*</b>
      </li>
    </ul>
    <b>*Division 1 與 Division 2 規則相同*</b>
  </div>
</section>
